body {
	margin: 0px;
}

a:link {
	text-decoration: none;
	color: black;
}

a:visited {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: none;
	color: black;
}

li {
	list-style: none;
}

#search_area {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	height: 70px;
}

#search_contain_area {
	margin:0px;
	padding:0px;
	width: 100%;
	height: 70px;
	background-color: rgba(0, 205, 205, 0.85);
}

#search_warpper {
	padding-right: 0px;
	padding-left: 0px;
	margin-right: auto;
	margin-left: auto;
}

#logo_cell {
	float: left;
	margin: 13px 0px;
	margin-right: 118px;
	width: 100px;
	height: 40px;
}

#search_input_wrapper {
	position: relative;
	float: left;
	margin: 18px 0px;
	width: auto;
	height: auto;
}

#search_input {
	position: relative;
	float: left;
	width: 500px;
	height: 30px;
	font-size: 17px;
	padding: 0px 8px;
	color: rgb(100, 100, 100);
	outline: none;
	background-color: rgb(255, 255, 255);
	border: 0px;
}

#search_btn {
	position: relative;
	float: left;
	width: 30px;
	height: 30px;
	background-size: 30px 30px;
	background-color: rgb(0, 205, 205);
	background-image:
		url("https://dcicons.s3.amazonaws.com/dicons/img/main/ms_button.png");
	outline: none;
	padding: 0px;
	border: 0px;
}

#user_info {
	float: right !important;
	margin-top: 20px;
	margin-bottom: 7px;
	margin-left: 0px;
	margin-right: 0px;
}

#null_div {
	height: 20px;
}

#menu_area {
	margin: 0 auto;
}

#menu_div {
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
	width: 960px;
	border: 3px solid white;
}

#menu_ul {
	margin: 0px;
	padding: 0px;
	padding-left: 75px;
}

#menu_li_first {
	padding-left: 0px;
	float: left;
	font-size: 17px;
}

#menu_li_second {
	padding-left: 70px;
	float: left;
	font-size: 17px;
}

#main_area {
	min-height: 475px;
	display: inline-block;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	height: auto;
	font-size: 0px;
	letter-spacing: 0px;
	word-spacing: 0px;
	text-align: center;
}

#search_list {
	position: relative;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

#search_contain {
	position: relative;
	display: -webkit-flex;
	width: 100%;
	height: 230px;
	margin-bottom: 20px;
	border-bottom: 2px solid #fff;
}

.search_contain_img {
	position: relative;
	display: block;
	width: 320px;
	height: 100%;
	padding: 10px 10px 20px 10px;
}

#search_img {
	padding: 0;
	margin: 0;
	overflow: hidden;
	position: relative;
	z-index: 0;
	width: 100%;
	height: 100%;
	background:
		url(https://dcicons.s3.amazonaws.com/dicons/img/list/list/ic_profile_blog_pic.png)
		center no-repeat;
	background-color: #e0e0e0;
}

#search_contain_food_title {
	position: relative;
	padding: 10px 10px 20px 10px;
	height: 100%;
	text-align: left;
}

#null_food_title {
	height: 16px;
}

#search_food_title {
	color: #404041;
	font-size: 30px;
	line-height: 36px;
}

#search_food_title_kind {
	color: #808184;
	font-size: 18px;
}

#null_title {
	height: 66px;
}

#search_food_title_count {
	margin-bottom: 12px;
}

#search_food_title_count_contain {
	float: left;
	width: 25%;
	padding: 0px 5px;
	border-left: 1px solid #e0e0e0;
}

#search_food_title_count_num {
	color: #00cdcd;
	font-size: 18px;
}

#search_food_title_count_lang {
	color: #808184;
	font-size: 12px;
}

#search_food_info_contain {
	position: relative;
	flex: none;
	-webkit-flex: none;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	width: 305px;
	height: 100%;
	padding: 10px 0px 20px 10px;
	background: none;
	text-align: left;
}

#search_contain_food_info_explan {
	flex: 1;
	-webkit-flex: 1;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	align-items: center;
	-webkit-align-items: center;
}

#search_food_info_explan_img {
	-webkit-flex: none;
	margin-right: 20px;
}

#search_food_info_explan_text {
	-webkit-flex: 1;
	color: #404041;
	font-size: 14px;
}

#page_index {
	margin-top: 33px;
}

#page_index_table {
	margin-left: auto;
	margin-right: auto;
}

#page_index_table_left_arrow {
	width: 26px;
	height: 26px;
}

#arrow_img {
	width: 26px;
	height: 26px;
}

#null_page_index {
	width: 20px;
}

#page_index_cell {
	width: 34px;
	height: 66px;
	text-align: center;
	color: #00cdcd;
	font-size: 16px;
	vertical-align: middle;
}

#food_detail_map_area {
	position: relative;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	width: 100%;
	min-width: 960px;
	max-height: 960px;
	height: 320px;
}

#food_detail_title_contain {
	margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 130px;
    font-size: 0px;
}

#food_detail_title_area {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	height: 130px;
	background-color: rgba(0, 205, 205, 0.85);
}

#food_detail_title_area_title {
	color: #fff;
	width: 100%;
	height: 65px;
	display: table;
	border-bottom: 1px solid #fff;
}

#food_detail_title_area_count_contain{
	width: 100%;
    margin-top: 10px;
}

#food_detail_title_area_count {
	width: 65%;
	height: 55px;
	float: left;
}

#food_detail_title_area_count_like {
	display: inline-block;
	height: 55px;
	margin-right: 40px;
	padding-left:10px;
}

#food_detail_title_area_count_like_num {
	color: #fff;
	font-size: 23px;
}

#food_detail_title_area_count_like_lang {
	color: #fff;
	font-size: 15px;
}

#food_detail_title_area_write {
	float: left; 
	height: 45px;
	margin-top: 10px;
	width: 35%;
}

#food_detail_title_area_write_contain {
	float: right;
}

#food_detail_title_area_write_contain_review {
	display: inline-block;
	width: 100px;
	text-align: right;
}

#food_detail_title_area_write_contain_review_img{
	float: left;
    display: inline-block;
    width: 24px;
    height: 22px;
    background: url("/resources/food/image/write_img.png") center no-repeat;
}

#food_detail_title_area_write_contain_review_lang{
	display: inline-block;
    width: 70px;
    height: 25px;
    font-size: 17px;
    color: #fff;
}

#food_detail_title_area_write_contain_reservation_img{
	float: left;
    display: inline-block;
    width: 30px;
    height: 22px;
    background: url("/resources/food/image/rs.png") center no-repeat;
}

#food_detail_title_area_write_contain_like{
	display: inline-block;
	width: 85px;
	text-align: right;
}

#food_detail_title_area_write_contain_like_img{
	float: left;
    display: inline-block;
    width: 24px;
    height: 22px;
    background: url("/resources/food/image/like_img.png") center no-repeat;
}

#food_detail_title_area_write_contain_like_lang{
	display: inline-block;
    width: 60px;
    height: 25px;
    font-size: 17px;
    color: #fff;
}

#food_detail_img_area{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 180px;
    font-size: 0px;
}

#food_detail_img_contain{
	position: relative;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

#food_detail_img{
	position: relative;
	width: 100%;
	height: 180px;
}

#food_detail_img_imgs{
	float:lef;
	display:inline-block;
	width: 320px;
	height: 100%;
	padding: 0px;
	margin: 0px;
}

#food_detail_content_area{
	min-height: 475px;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: auto;
    font-size: 0px;
    letter-spacing: 0px;
    word-spacing: 0px;
    text-align: center;
}

#food_detail_content_contain{
	position: relative;
	padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

#food_detail_content_info{
	position: relative;
	width: 100%;
	height: 200px;
}

#food_detail_content_info_common{
	position: relative;
	margin-top:32px;
	width: 100%;
	height: 22px;
}

#food_detail_content_info_common_img{
	margin: 0px;
	padding: 0px;
	padding-left:5px;
	float:left;
	height:22px;
	width: 22px;
}

#food_detail_content_info_common_lang{
	margin: 0px;
	padding: 0px;
	padding-left:5px;
	float:left;
	height:22px;
	font-size: 15px;
}

#food_detail_content_info_time{
	position:relative;
	margin-top: 40px;
	margin-right:55px;
	float: left;
	display: inline-block;
	width: 450px;
	height: auto;
}

#food_detail_content_info_time_title{
	padding-left:22px;
	color: #4a4a4a;
	font-size: 24px;
    font-weight: bold;
    text-align: left;
}

#food_detail_content_info_time_img{
	width: 22px;
	height:22px;
	float: left;
	display: inline-block;	
}

#food_detail_content_info_time_open_contain{
	width: 100%;
	height: 40px;
	margin-bottom: 15px;
}


#food_detail_content_info_time_open{
	float: left;
	display: inline-block;
	width: 428px;
	height: 40px;
	background-image: url("/resources/food/image/line.png");
    background-position-y: -11px;
}

#food_detail_content_info_time_open_day{
	padding-left:5px;
	padding-right:15px;
	float:left;
	background-color: #fff;
	color: #4a4a4a;
	height: 19px;
	font-size: 15px;
	width: 50px;
	font-weight: bold;
	text-align: left;
}

#food_detail_content_info_time_open_clcok{
	padding-left: 10px;
	float: right;
	background: #fff;
	width: 190px;
	height: 40px;
}

#food_detail_content_info_time_open_clcok_time{
	height: 20px;
	width: 100%;
	font-size: 15px;
	color: #868686;
	text-align: right;
}

#food_detail_content_info_time_open_clcok_text{
	height: 20px;
	width: 100%;
	font-size: 12px;
	color: #868686;
	text-align: right;
}

#food_detail_content_info_time_closed_contain{
	padding-left:22px;
	width: 100%;
	height: 40px;
}

#food_detail_content_info_menu{
	position:relative;
	margin-top: 40px;
	float: left;
	display: inline-block;
	width: 455px;
	height: auto;
}

#food_detail_content_info_menu_first{
	float: left;
	display: inline-block;
	width: 433px;
	height: 25px;
	background-image: url("/resources/food/image/line.png");
    background-position-y: -10px;
    margin-bottom: 10px;
}

#food_detail_content_info_menu_first_one_text{
	padding-left:5px;
	padding-right:15px;
	float:left;
	background-color: #fff;
	color: #4a4a4a;
	height: 19px;
	font-size: 15px;
	width: auto;
	font-weight: bold;
	text-align: left;
}

#food_detail_content_info_menu_first_one_money_area{
	padding-left: 10px;
    float: right;
    background: #fff;
    width: 70px;
    height: 40px;
}

#food_detail_content_info_menu_first_one_money{
	height: 20px;
	width: 100%;
	font-size: 15px;
	color: #868686;
	text-align: right;
}

#food_detail_content_info_menu_second{
	float: left;
	display: inline-block;
	width: 433px;
	height: 25px;
	background-image: url("/resources/food/image/line.png");
    background-position-y: -10px;
    margin-bottom: 10px;
}

#food_detail_content_info_menu_second_contain{
	padding-left: 22px;
    width: 433px;
    height: 70px;
}

#food_detail_content_review{
	position: relative;
	padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

#food_detail_content_review_write{
	position:relative;
	width: 960px;
	height: 285px;
	margin-top: 20px;
	border-bottom: #E0E0E0 solid 1px;
}

#food_detail_content_review_write_title{
	width: 100%;
	text-align: left;
	color: #4a4a4a;
	font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

#food_detail_content_review_write_textarea{
	width:100%;
	height:150px;
}

#food_detail_content_review_write_btn{
	padding-top:10px;
	width:100%;
	height: 40px;
	text-align: right;
}

#food_detail_content_review_write_btn_photo{
	float:right;
	background:#3f3f3f;
	border: 0;
	width: 250px;
	padding-top : 4px;
	text-align: center;"
}

#food_detail_content_review_write_btn_null{
	width:20px;
	height:10px;
	float: right;
}

#food_detail_content_review_write_btn_submit{
	float:right;
	background-color: white;
	outline: none;
	border: 1px solid #dadada;
	color: #8f8f8f;
	width: 200px;
	text-align: left;
	padding-top:4px;
}

#food_detail_content_review_list_contain{
	position:relative;
	padding:10px 0;
	border-bottom: #E0E0E0 solid 1px;
	height:330px;
}

#food_detail_content_review_list{
	float:left;
	padding-left: 10px;
}

#food_detail_content_review_list_name{
	font-weight: bold;
	font-size: 15px;
	text-align: left;
}

#food_detail_content_review_list_date{
	padding-top:5px;
	color: #999999;
	font-size: 13px;
	text-align: left;
}

#food_detail_content_review_list_text{
	padding-top:20px;
	font-size: 15px;
	height: auto;
	text-align: left;
}

#food_detail_content_review_list_img{
	text-align: left;
	padding-top:20px;
	width: 110px;
	height: 90px;
}