<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.movie.mapper.ReservMapper">
	<insert id="insertReserv">
		insert into mv_reserv_table(mcode,redetailcd) 
		value(2,#{redetailcd})
	</insert>
	
	<select id="listmyReserv" resultType="com.movie.domain.ReservVO">
		select*from mv_reserv_table where mcode=2
	</select>
</mapper>